/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- END OF RESET --- */

/* --- STYLING STARTS HERE --- */

:root {
    --charcoal: #252525;
    --washed-grey: #EBEBEB;
    --chilli-red: #D62D2A;
    --slang: #EE3B70;
    --rhyme: #FAA330;
}

/* --- TYPOGRAPHY --- */
body {
    font-family: 'Poppins';
}

h1, h2, .lyrics, summary {
    font-family: 'Bebas Neue';
}

h1, h2, summary {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 8em;
    padding: 0.2em;
    color: var(--charcoal);
}

h3 {
    display: inline-block;
    margin: 0 auto 0.4em;
    text-align: center;
    background-color: var(--charcoal);
    padding: 0.5em 1em;
    border-radius: 10px;
}

h4 {
    padding-top: 0.5em;
    font-weight: 600;
}

.word-popup p {
    line-height: 1.1;
    font-style: italic;
    padding: 1em 0;
}

p {
    text-wrap: pretty;
}

.origin, cite {
    font-style: italic;
}

.lyrics {
    font-size: 3em;
}

.song-details, .lyrics {
    color: var(--washed-grey);
}

.slang, .word-popup.slang {
    background-color: var(--slang);
}

.rhyme, .word-popup.rhyme {
    background-color: var(--rhyme);
}

.lyric-word {
    all: unset;
    position: relative;
    cursor: pointer;
}

.slang-text.highlighted, .slang-text {
    color: var(--slang);
}

.rhyme-text.highlighted, .rhyme-text {
    color: var(--rhyme);
}

p span {
    padding: 0 0.1em;
}

.active-word {
    text-decoration: underline;
}

/* --- LAYOUT --- */

body {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 90vw;
    margin: 0 auto;
}

header, main {
    margin-top: 3em;
}

main {
    display: flex;
}

.main-container {
    display: flex;
    margin: auto 0;
    max-width: 100%;    
}

article {
    margin-top: 2em;
    border: 5px solid var(--chilli-red);
    border-radius: 15px;
    background-color: var(--charcoal);
}

summary {
    width: 100%;
}

details, summary {
    background-color: var(--washed-grey);
    border-radius: 10px;
}

details { 
    border-top: 5px solid var(--chilli-red);
    padding: 1em;
}

.entry-data, .example {
    margin: 1.5em 0;
}

blockquote {
    display: inline-block;
}

cite {
    display: block;
    margin: 1em 0 1.5em;
    text-align: center;
    font-size: 0.4em;
    font-family: 'Poppins';
}

.snippet {
    margin: 0 2em;
    padding: 3em;
    background-color: var(--charcoal);
    border-radius: 25px;
}

.techniques {
    display: flex;
    font-weight: 500;
    cursor: pointer;
}

.techniques p{
    margin-right: 0.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
}

.info-container {
    display: none;
    position: absolute;
    font-size: 0.5em;
    padding: 0.5em;
    width: 105px;
    border-radius: 10px;
    border: 3px solid var(--washed-grey);
    top: -3em;
    left: 100%;
    background-color: var(--charcoal);
    color: var(--washed-grey);
}

button.horizontal-scroll {
    background-color: var(--charcoal);
    color: var(--washed-grey);
    font-weight: 600;
    font-size: 1.5em;
    border-style: none;
    border-radius: 10px;
    vertical-align: middle;
    padding: 1em 0.5em;
    align-self: flex-start;
    margin: auto 0;
}

/* --- NAVIGATION --- */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul, nav img {
    display: inline-block;
}

nav li {
    display: inline-block;
}

.see-also li {
    display: inline-block;
    font-size: 0.8em;
    border-radius: 10px;
    border: 3px solid var(--chilli-red);
    padding: 0.5em;
    margin-right: 0.5em;
}
.see-also a {
    color: var(--charcoal);
    text-decoration: none;
}
/* --- POP UP --- */

.word-popup {
    display: block;
    margin: 2em auto 0;
    text-align: center;
    width: 60vw;
    max-width: 300px;
}

.word-popup div {
    display: inline-block;
    color: var(--charcoal);
    border-radius: 20px;
    border: 4px solid var(--charcoal);
    padding: 1em;
}

.word-popup .info-close {
    padding-top: 0;
    text-align: right;
    font-size: 1em;
    cursor: pointer;

}

/* --- DETAILS --- */

summary::marker {
    content: "+";
}

details[open] summary::marker {
    content: "×";
}

/* --- CHECK WHY DOESNT WORK!!!! --- */
details[open] summary {
    content: "close"
}

/* --- IMAGES --- */

nav img {
    width: 150px;
    height: auto;
}

/* --- LINK STATES --- */

button:hover, .techniques p:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all ease 0.2s;
}

button:hover .info-container {
    display: block;
}
/* --- MEDIA QUERIES --- */

@media (min-width:960px) {
   body {
    max-width: 80vw;
   } 
}