/* --- RESET STARTS HERE --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
}
/*
ol, ul {
	list-style: none;
} */

summary::marker {
    content: "";
}

summary::-webkit-details-marker {
    display: none;
}

details summary {
    cursor: pointer;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* --- END OF RESET --- */

/* --- STYLING STARTS HERE --- */

:root {
    --charcoal: #252525;
    --white-smoke: #F5F5F5;
    --red-white: #C31313;
    --red-black: #FF4634;
    --tip-bckgnd: #DEDEDE;
    --slant-rhyme: #FFB92E;
    --internal-rhyme: #4CFF3E;
    --oswald:  'Oswald', Sans Serif;
    --poppins: 'Poppins', Avenir, Monserrat, Source Sans Pro, Sans Serif;

    /* - LIGHT DARK */
    color-scheme: light dark;
    --white-black: light-dark(#F5F5F5, #252525);
    --black-white: light-dark(#252525, #F5F5F5);
    --red-light-dark: light-dark(#C31313, #FF4634);
    --red-dark-light: light-dark(#FF4634, #C31313);
    --toggle-button-hover: light-dark(#252525, #F5F5F5);
}

/* --- PAGE STYLING --- */

body {
    font-family: var(--poppins);
    color: var(--black-white);
    background-color: var(--white-black);
}

main {
    width: clamp(400px, 60vw, 900px);
}

header {
    align-items: center;
    padding: 2rem 0.5rem 4rem;
}

main, header {
    margin: 0 auto;
}

/* --- TYPOGRAPHY --- */

h1, h2, h3 {
    font-family: var(--oswald);
}

h1 {
    margin-bottom: clamp(4rem, 6vw, 6rem);
    font-size: clamp(3.5rem, 13vw, 5rem);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: clamp(2rem, 9vw, 3.5rem);
    margin-bottom: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

h3 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    margin: 2rem 0 1rem;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
}

p, li {
    line-height: 1.5;
    font-weight: 300;
}

li {
    margin-bottom: 0.5rem;
}

.lesson-intro {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-style: italic;
    margin: 3rem 0;
}

.italic {
    font-style: italic;
}

.statement {
    display: inline-block;
    font-style: italic;
    margin-bottom: 0;
}

/* --- HEADER --- */

header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

header img.logo {
    width: clamp(150px, 20vw, 250px);
    height: auto;
}

/* --- NAVIGATION --- */

nav[aria-label="lesson"] {
    display: flex;
    font-size: clamp(0.7rem, 3vw, 1rem);
    margin-bottom: 1rem;
}

nav[aria-label="lesson"] li {
    display: inline;
}

nav[aria-label="footer"] {
    display: block;
    margin: 0 auto;
}

nav[aria-label="footer"] li {
    color: var(--white-black);
    text-align: center;
}

/* - MAIN NAVIGATION TOGGLE - */

input[type="checkbox"]#menu-toggle {
	opacity: 0;
	position: absolute;
}

nav[aria-label="main"] label.toggle {
	display: inline-block;
	width: auto;
	margin: 0;
	position: relative;
	line-height: 1;
    text-align: center;
    font-size: 0.9rem;
}

nav label.toggle:hover, nav label.toggle:active, nav label.toggle:focus-visible {
	cursor: pointer;
}

/* visual focus */

nav .toggle::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

input[type="checkbox"]#menu-toggle:focus-visible + label.toggle::before {
	border-top: 1px solid var(--charcoal);
	border-bottom: 1px solid var(--charcoal);
	outline: none;
}

/* show/hide menu */

input[type="checkbox"]#menu-toggle + label.toggle + nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

input[type="checkbox"]#menu-toggle:checked + label.toggle + nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red-white);
    transform: translateX(0);
}

input[type="checkbox"]#menu-toggle:checked + label.toggle {
    z-index: 2;
}

nav svg {
    margin-bottom: 0.2rem;
}

/* menu design */

nav[aria-label="main"] ul li {
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: 600;
    padding: 0.5rem;
    border-bottom: solid 2px var(--white-smoke);
}

/* svg colour and change on hover */

rect {
    fill: var(--charcoal);
}

label.toggle:hover svg rect {
    fill: var(--red-white);
}

/* --- DETAILS ELEMENT & PAGE CONTENT --- */

.related-techniques li {
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    border: solid var(--charcoal) 2px;
    border-radius: 5px;
}

.slant {
    background-color: var(--slant-rhyme)
}

/* --- PAGE CONTENT DROP DOWN --- */

input[type="checkbox"].content-dropdown {
    opacity: 0;
	position: absolute;
} 

input[type="checkbox"].content-dropdown + label {
    display: flex;
}

input[type="checkbox"] + label p, .glossary-entry {
    color: var(--white-black);
    background-color: var(--black-white);
}

.glossary-entry:has(input[type="checkbox"]:checked), .glossary-entry:has(input[type="checkbox"]:hover), .glossary-entry:has(input[type="checkbox"]:focus-visible) {
    background-color: var(--red-light-dark);
}

input[type="checkbox"].content-dropdown + label p {
    display: inline;
    max-width: fit-content;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin-bottom: 0.8rem;
    line-height: 2.7em;
    padding: 0 0.8rem;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
}

input[type="checkbox"].content-dropdown + label.toggle + div {
	display: none;
}

input[type="checkbox"].content-dropdown:checked + label.toggle + div {
	display: block;
    margin: 1.2rem 0 3rem;
}

/* dropdown arrow */

label p span {
    display: inline-block;
    margin-left: 0.8rem;
    padding-left: 1rem;
    height: 100%;
    border-left: 6px solid var(--white-black);
    transition: all 0.4s ease-in-out;
}

div.tip {
    display: inline-flex;
    align-items: center;
    background-color: var(--tip-bckgnd);
    border-radius: 6px;
    padding: 1rem 2rem;
}

.tip img {
    width: 8px;
    height: auto;
    margin-right: 2rem;
}

.content-dropdown ul li {
    list-style: disc;
    list-style-image: url(images/bullet.svg);
}

/* --- GLOSSARY ENTRIES --- */

.glossary-filter {
    display: flex;
    text-align: right;
    margin-top: 2rem;
}

.glossary-filter p {    
    margin-right: 2rem;
    font-weight: 600;
}

.glossary-entry {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 6px;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}

.glossary-entry label {
    font-family: var(--oswald);
    font-size: clamp(3rem, 8vw, 7rem);
    font-weight: 600;
    text-transform: uppercase;
}

.glossary-entry p {
    margin-bottom: 0;
}

.glossary-entry div {
    margin-bottom: 0;
}

.type, .origin, .year {
    display: inline;
}

.definition {
    font-size: clamp(1rem, 4vw, 1.5rem);
}

.glossary-entry h2, .song-details {
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
}

.glossary-entry h2 {
    font-family: var(--poppins);
    text-transform: none;
    margin: 1rem 0 0.5rem;
}

.type, .origin, .year{
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-bottom: 0.5rem;
}

.similar {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    margin-right: 0.2rem;
    background-color: var(--white-smoke);
    color: var(--charcoal);
    border-radius: 6px;
}

/* --- FOOTER --- */

footer {
    background-color: var(--black-white);
    padding: 3rem 2rem 1rem;
    margin-top: 3rem;
}

footer img {
    width: 250px;
    height: auto;
    display: block;
    margin: 4rem auto 1rem;
}

footer p {
    color: var(--white-black);
    text-align: center;
}

footer li {
    margin-bottom: 1rem;
}

/* --- LINK STATES ---*/
/* link, hover, focus-visible, active, visited */

a {
    color: inherit;
    text-decoration: none;
}

a:hover, label:hover {
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

nav[aria-label="lesson"] a:hover, nav[aria-label="lesson"] a:focus-visible {
    color: var(--red-light-dark);
    text-decoration: underline;
}

nav[aria-label="footer"] a:hover, nav[aria-label="footer"] a:focus-visible, nav[aria-label="footer"] a:active {
    color: var(--red-dark-light);
    text-decoration: underline;
}

/* make main content toggle change on hover */
input[type="checkbox"].content-dropdown:hover + label p, input[type="checkbox"].content-dropdown:focus-visible + label p, input[type="checkbox"].content-dropdown:active + label p, input[type="checkbox"].content-dropdown:checked + label p, .glossary-entry:has(input[type="checkbox"]:hover), .glossary-entry:has(input[type="checkbox"]:checked) {
    background-color: var(--red-light-dark);
    box-shadow: -0.5rem 0.5rem var(--toggle-button-hover), -0.4rem 0.4rem var(--toggle-button-hover), -0.3rem 0.3rem var(--toggle-button-hover), -0.2rem 0.2rem var(--toggle-button-hover), -0.1rem 0.1rem var(--toggle-button-hover);
}

/* dark mode button box shadows */
#theme-switch:has(#dark:checked) ~ .glossary-entries:has(input[type="checkbox"]:hover) .glossary-entry {
    box-shadow: -0.1rem 0.1rem var(--charcoal), -0.2rem 0.2rem var(--charcoal), -0.3rem 0.3rem var(--charcoal), -0.4rem 0.4rem var(--charcoal), -0.5rem 0.5rem var(--charcoal), -0.6rem 0.6rem 0.3rem var(--white-smoke);
}

/* move chevron on hover */
input[type="checkbox"].content-dropdown:hover + label span, input[type="checkbox"].content-dropdown:active + label span, input[type="checkbox"].content-dropdown:focus-visible + label span, input[type="checkbox"].content-dropdown:checked + label span {
    border-left: none;
    padding-left: 0;
}

input[type="checkbox"].content-dropdown:active + label p, input[type="checkbox"].content-dropdown:focus-visible + label p, .glossary-entry:has(input[type="checkbox"]:active), .glossary-entry:has(input[type="checkbox"]:focus-visible), #theme-switch:has(#dark:checked) ~ .glossary-entries:has(input[type="checkbox"]:active) .glossary-entry, #theme-switch:has(#dark:checked) ~ .glossary-entries:has(input[type="checkbox"]:focus-visible) .glossary-entry {
    box-shadow: none;
    transform: translate(-0.5rem, 0.5rem);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* transform chevron on when label is checked */
input[type="checkbox"].content-dropdown:checked + label.toggle span {
  transform: rotate(90deg);
}

/* --- MEDIA QUERIES --- */

@media (min-width: 900px) {
    
    /* LAYOUT */

    header, footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    nav[aria-label="footer"] {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    footer img {
        margin: 0;
    }

    footer p {
        text-align: center;
    }

    /* typography */

    h1 {
        text-align: center;
    }

}

@media (min-width: 1200px) {
    
    /* NAVIGATION */

    input[type="checkbox"]#menu-toggle + label.toggle {
        display: none;
    }
    
    input[type="checkbox"]#menu-toggle + label.toggle + nav {
        display: flex;
        transform: none;
        width: unset;
        height: unset;
        position: unset;
    }

    nav[aria-label="main"] ul li {
        display: inline-block;
        font-size: 1rem;
        margin-left: 3rem;
        padding: 0.3rem 0.9rem;
        border-radius: 5px;
        align-items: unset;
        background-color: var(--red-white);
        color: var(--white-smoke);
        border: none;
        box-shadow: -0.5rem 0.5rem var(--black-white), -0.4rem 0.4rem var(--black-white), -0.3rem 0.3rem var(--black-white), -0.2rem 0.2rem var(--black-white), -0.1rem 0.1rem var(--black-white);
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    nav[aria-label="footer"] li{
        text-align: left;
    }

    /* link states */

    nav[aria-label="main"] ul li:active, nav[aria-label="main"] ul li:focus-visible {
        box-shadow: none;
        transform: translate(-0.5rem, 0.5rem);
    }
}

/* --- LIGHT / DARK MODES ---*/

:root:has(input[type="radio"]#light:checked){
    color-scheme: light;
} 

:root:has(input[type="radio"]#dark:checked){
    color-scheme: dark;
}   