/* --- RESET STARTS HERE --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

summary::marker {
    content: "";
}

summary::-webkit-details-marker {
    display: none;
}

details summary {
    cursor: pointer;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* --- END OF RESET --- */

/* --- STYLING STARTS HERE --- */

:root {
    --charcoal: #252525;
    --white-smoke: #F5F5F5;
    --red-white: #C31313;
    --red-black: #FF4634;
    --slant-rhyme: #FFB92E;
    --internal-rhyme: #4CFF3E;
}

/* --- PAGE STYLING --- */

body {
    font-family: 'Poppins', Avenir, Monserrat, Source Sans Pro, Sans Serif;
    color: var(--charcoal);
    background-color: var(--white-smoke);
}

main {
    padding: 0 2rem 1rem;
}

header {
    align-items: center;
    padding: 2rem 2rem 4rem;
}

/* --- TYPOGRAPHY --- */

h1, h2, h3 {
    font-family: 'Oswald', Sans Serif;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 3rem;
    font-size: clamp(3.5rem, 13vw, 5rem);
    font-weight: 600;
}

h2 {
    font-size: clamp(2.5rem, 9vw, 3.5rem);
    margin-bottom: 2rem;
}

h3 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    margin: 2rem 0 1rem;
}

p {
    margin-bottom: 1rem;
}

p, li {
    line-height: 1.5;
    font-weight: 300;
}

li {
    margin-bottom: 0.5rem;
}

.lesson-intro {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.italic {
    font-style: italic;
}

/* --- HEADER --- */

header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

header img {
    width: clamp(150px, 20vw, 250px);
    height: auto;
}

/* --- NAVIGATION --- */

nav[aria-label="lesson"] {
    display: flex;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

nav[aria-label="lesson"] li {
    display: inline;
}

nav[aria-label="footer"] {
    display: block;
    margin: 0 auto;
}

nav[aria-label="footer"] li {
    color: var(--white-smoke);
    text-align: center;
}

/* - MAIN NAVIGATION TOGGLE - */

input[type="checkbox"]#menu-toggle {
	opacity: 0;
	position: absolute;
}

nav[aria-label="main"] label.toggle {
	display: inline-block;
	width: auto;
	margin: 0;
	position: relative;
	line-height: 1;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
}

nav label.toggle:hover, nav label.toggle:active, nav label.toggle:focus-visible {
	cursor: pointer;
}

/* visual focus */

nav .toggle::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

input[type="checkbox"]#menu-toggle:focus-visible + label.toggle::before {
	border-top: 1px solid var(--charcoal);
	border-bottom: 1px solid var(--charcoal);
	outline: none;
}

/* show/hide menu */

input[type="checkbox"]#menu-toggle + label.toggle + ul {
	display: none;
}

input[type="checkbox"]#menu-toggle:checked + label.toggle + ul {
	display: block;
}

/* 4 lines toggle visible */

label.toggle [class*='line-'] {
	background: var(--charcoal);
	display: block;
	border-radius: 2px;
	height: 8px;
	width: 44px;
	margin: 0 auto 3px;
	transform: rotate(0deg);
	transition: 0.4s ease all;
}

label.toggle:hover [class*='line-'] {
	background: var(--red-black);
}

input[type="checkbox"]#menu-toggle:checked + label.toggle .line-two {
	transform: rotate(45deg);
	transform-origin: 0 0;
}

input[type="checkbox"]#menu-toggle:checked + label.toggle .line-one, input[type="checkbox"]#menu-toggle:checked + label.toggle .line-four {
	opacity: 0;
}

input[type="checkbox"]#menu-toggle:checked + label.toggle .line-three {
	transform: rotate(-45deg);
	transform-origin: 0 90%;
}

/* --- DETAILS ELEMENT & PAGE CONTENT --- */

.related-techniques li {
    display: inline-block;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    border: solid var(--charcoal) 2px;
    border-radius: 5px;
}

.slant {
    background-color: var(--slant-rhyme)
}

/* --- PAGE CONTENT DROP DOWN ---*/

input[type="checkbox"].content-dropdown {
    opacity: 0;
	position: absolute;
} 
/*
.content-dropdown + label.toggle::after{
    content: "";
    background: var(--charcoal);
    color: var(--white-smoke);
    padding: 1rem 2rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1rem;
    clip-path: polygon(20% 0, 100% 100%, 100% 0, 0 100%); 
}   */

input[type="checkbox"].content-dropdown + label {
    display: block;
    max-width: fit-content;
    margin: 0.8rem 0;
    padding: 0.8rem;
    color: var(--white-smoke);
    background-color: var(--charcoal);
    border-radius: 6px;
}

input[type="checkbox"].content-dropdown:checked + label {
    background-color: var(--red-white);
    box-shadow: -0.5rem 0.5rem var(--charcoal);
}

input[type="checkbox"].content-dropdown + label.toggle + div {
	display: none;
}

input[type="checkbox"].content-dropdown:checked + label.toggle + div {
	display: block;
}

/* --- FOOTER --- */

footer {
    background-color: var(--charcoal);
    padding: 3rem 2rem 1rem;
}

footer img {
    width: 250px;
    height: auto;
    display: block;
    margin: 4rem auto 1rem;
}

footer p {
    color: var(--white-smoke);
    text-align: center;
}

footer li {
    margin-bottom: 1rem;
}

/* --- LINK STATES ---*/
/* link, hover, focus-visible, active, visited */

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

nav[aria-label="lesson"] a:hover, nav[aria-label="lesson"] a:focus-visible {
    color: var(--red-white);
    text-decoration: underline;
}

nav[aria-label="footer"] a:hover, nav[aria-label="footer"] a:focus-visible, nav[aria-label="footer"] a:active {
    color: var(--red-black);
    text-decoration: underline;
}

input[type="checkbox"].content-dropdown:hover + label, input[type="checkbox"].content-dropdown:focus-visible + label, input[type="checkbox"].content-dropdown:active + label {
    background-color: var(--red-white);
    transition: all 0.4s ease-in-out;
    box-shadow: -0.5rem 0.5rem var(--charcoal);
}

nav li:focus-visible {
    transition: all 0.4s ease-in-out;
    box-shadow: -0.5rem 0.5rem var(--charcoal);
    outline: none;
}

a:focus-visible, input[type="checkbox"].content-dropdown:focus-visible + label {
}

/* --- MEDIA QUERIES --- */

@media (min-width: 600px) {
    main, header {
        margin: 0 auto;
    }
}

@media (min-width: 900px) {
    
    /* LAYOUT */
    
    main {
        max-width: 60vw;
    }

    header, footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    nav[aria-label="footer"] {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    footer img {
        margin: 0;
    }

    footer p {
        text-align: center;
    }

    /* typography */

    h1 {
        text-align: center;
    }

}

@media (min-width: 1200px) {

    /* NAVIGATION */

    input[type="checkbox"]#menu-toggle + label.toggle + ul {
	    display: block;
    }

    nav[aria-label="main"] ul li {
        display: inline;
        margin-left: 3rem;
        padding: 0.3rem 0.9rem;
        border-radius: 5px;
    }

    nav[aria-label="main"] ul li:last-of-type {
        background-color: var(--red-white);
    }

    nav[aria-label="main"] ul li:last-of-type a {
        color: var(--white-smoke);
        font-weight: 600;
    }

    input[type="checkbox"]#menu-toggle + label.toggle {
	display: none;
    }

    nav[aria-label="footer"] li{
        text-align: left;
    }

    /* link states */
    nav[aria-label="main"] li:hover {
        background-color: var(--red-white);
        transition: all 0.4s ease-in-out;
        box-shadow: -0.5rem 0.5rem var(--charcoal);
    }

    nav[aria-label="main"] li:hover {
        color: var(--white-smoke);
    }
}